{% extends "log_analyze/base_site.html" %}

{% block content %}
<p><a href="{% url 'index' %}"><strong>RemoteHost Log Monitor</strong></a></p>
<ul>
	<p><a href="{% url 'remotebizinfo98' %}"><strong>biz service info</strong></a></p>
	<p><a href="{% url 'remotebizerror98' %}"><strong>biz service error</strong></a></p>
	<p><a href=""><strong>C</strong></a></p>
	<p><a href=""><strong>D</strong></a></p>
	<p><a href=""><strong>E</strong></a></p>
	<p><a href=""><strong>F</strong></a></p>
</ul>
{% endblock %}
